<div class="app-page-container">
  <div class="login-component d-flex align-items-center">
    <div class="container col-12">
      <div class="row">
        <div class="login-fields" style="margin-top:190px">
          <form novalidate [formGroup]="loginForm" (ngSubmit)="login(loginForm)" class="paragraph-regular">
            <div class="text-center">
              <a href="/">
                <img src="./assets/img/accel-logo-off-white.svg" alt="AccelerationVMS">
              </a>
            </div>
            <br/>
            <br/>
            <h3 class="login-description text-center" style="margin-left:370px">Welcome to Agile1 VMS. Please sign in to your account</h3>
            <br/>
            <br/>


            <div class="form-inputs" style="margin-left:370px">
              <!-- <mat-form-field class="example-full-width"> -->
              <input id="txtUsername" name="username" type="text" matInput placeholder="Username" formControlName="username" (blur)="blurHandler(loginForm.get('username'))">
            <!-- </mat-form-field> -->
              <br/>
              <br/>
              <br/>


              <input id="txtPassword" name="password" type="password" matInput placeholder="Password" formControlName="password" (blur)="blurHandler(loginForm.get('password'))">

            </div>


            <br>
            <div class="form-error" style="margin-left:370px;">
              <span id="errorMessage"  *ngIf="loginForm.invalid && !loginForm.pristine">{{errorMessage}}</span>
            </div>

            <br/>
            <button style="margin-left:370px; width:170px" id="btnLogin" type="submit" class="btn btn-primary btn-enabled btn-block btn-lg text-center"
              [disabled]="loginForm.invalid">
              Sign in
              <!-- <div *ngIf="!loading" class="login-button-text"></div> -->
              <!-- <div *ngIf="loading" class="login-button-spinner">
                <mat-progress-spinner class="example-margin" [color]="'primary'" [mode]="'indeterminate'" strokeWidth="1">
                </mat-progress-spinner>
              </div> -->
            </button>
            <br>
            <div class="col-md-12 text-center login-links">
              <a routerLink="/forgot-password">Forgot your password?</a>
            </div>
          </form>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </div>



  <br>
  <br>
  <br>
  <div class="page-login__copyright">
    &copy; 2001 &mdash; 2017 AgileOne All Rights Reserved Powered by AgileOne v8.7.1.0
  </div>
