

<!-- Main Pages
    ################################################# -->

<!-- Sidebar/Navbar
      ################################################# -->
<!-- <sidebar></sidebar> -->
<app-vms-sidenav></app-vms-sidenav>
<!-- Header
            ################################################# -->
<!-- <header></header> -->
<!-- Main Content
            ################################################# -->
<div class="body-container container-fluid text-center"   style="margin-top:-3em">
<!--
  <div class="header hidden-md-down">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="header__search">
          Search
          <i class="material-icons">search</i>
        </div>
        <div class="header__user">
          <a href="#">RichardJames
            <span class="caret"></span>
          </a>
        </div>
      </div>
    </div>
  </div> -->

  <router-outlet></router-outlet>

</div>

<!-- Footer
            ################################################# -->
<footer></footer>
<!-- <script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"> </script> -->
