<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu" style="margin-top:57px">

  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li style="text-align: center">

        <!-- <i class="fa fa-dashboard fa-lg" style="margin-left:11px;"></i> -->
        <span style="font-size: 18px;  ">Dashboard</span>

      </li>
      <li>

          <!-- <i class="fa fa-dashboard fa-lg" style="margin-left:11px;"></i> -->
          <ul>
              <li style="font-size: 13px;  margin-left:15px">&#9679;  To Do 137</li>
          </ul>


        </li>
        <li>

            <!-- <i class="fa fa-dashboard fa-lg" style="margin-left:11px;"></i> -->
            <span style="font-size: 13px; margin-left:15px ">&#9679;  Messages 11</span>

          </li>

      <li data-toggle="collapse" data-target="#jobs" class="collapsed active">
        <i class="fa fa-gift fa-lg" style="margin-left:11px;"></i> <span style="font-size: 17px; margin-left:1em">Jobs</span>
        <span class="arrow"></span>
      </li>
      <ul class="sub-menu collapse" id="jobs">
        <!-- <li class="active"><a href="#">CSS3 Animation</a></li> -->
        <li>
          <a routerLink="/dashboard/nodata">All</a>
        </li>
        <li>
          <a href="#">Pending My Approval</a>
        </li>
        <li>
          <a href="#">Pending Approval by Others</a>
        </li>
        <li>
          <a href="#">Open Jobs</a>
        </li>
        <li>
          <a href="#">Active Jobs</a>
        </li>
        <li>
          <a href="#">Draft Jobs</a>
        </li>
      </ul>


      <li data-toggle="collapse" data-target="#projects" class="collapsed">
        <i class="fa fa-globe fa-lg" style="margin-left:11px"></i>
        <span style="font-size: 17px; margin-left:1em">Projects</span>
        <span class="arrow"></span>
      </li>
      <ul class="sub-menu collapse" id="projects">
        <li> Create a New Project</li>
        <li>All Projects</li>
        <li>Pending My Approval</li>
        <li>Pending Approval by Others</li>
        <li>My Drafts</li>
        <li>Manage E-Auctions</li>
      </ul>


      <li data-toggle="collapse" data-target="#people" class="collapsed">
        <!-- <i class="fa people fa-lg" style="margin-left:11px"></i> -->

        <span style="font-size: 17px; margin-left:1em">
            <i class="material-icons" style="font-size:17px">people</i>&nbsp;&nbsp;
          People</span>
        <span class="arrow"></span>
      </li>
      <ul class="sub-menu collapse" id="people">
        <li>All People</li>
        <li>My Interviews</li>
        <li>New Contingeent Workers</li>
        <li>CAndiate Rate Negotiations</li>
      </ul>

      <li data-toggle="collapse" data-target="#timecard" class="collapsed">
          <i class="fa fa-car fa-lg" style="margin-left:11px"></i>


          <span style="font-size: 17px; margin-left:1em">Timecards</span> <span class="arrow"></span>
          </li>
          <ul class="sub-menu collapse" id="timecard">
            <li>New New 1</li>
            <li>New New 2</li>
            <li>New New 3</li>
          </ul>

      <li data-toggle="collapse" data-target="#reports" class="collapsed">
        <i class="fa fa-car fa-lg" style="margin-left:11px"></i>
        <span style="font-size: 17px; margin-left:1em">Reports</span>
        <span class="arrow"></span>
      </li>
      <ul class="sub-menu collapse" id="reports">
        <li>New New 1</li>
        <li>New New 2</li>
        <li>New New 3</li>
      </ul>
      <li data-toggle="collapse" data-target="#invioces" class="collapsed">
        <i class="fa fa-car fa-lg" style="margin-left:11px"></i>
        <span style="font-size: 17px; margin-left:1em">Invioces</span>

        <span class="arrow"></span>
      </li>
      <ul class="sub-menu collapse" id="invioces">
        <li>New New 1</li>
        <li>New New 2</li>
        <li>New New 3</li>
      </ul>
      <li>
        <a href="#">
          <i class="fa fa-user fa-lg"></i>
          <span style="font-size: 17px; margin-left:1em">ICC</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-users fa-lg"></i>
          <span style="font-size: 17px; margin-left:1em"> Need Helps ?</span>
        </a>
      </li>
    </ul>
  </div>
</div>
