	<!-- AppComponents Router
    ################################################# -->
    <body class="{{bodyRef}}">

            <!-- <div class="dev-grid container-fluid">
              <div class="row">
                <div class="col-sm-1"><div class="content">Here1</div></div>
                <div class="col-sm-1"><div class="content">Here3</div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
              </div>
            </div> -->

            <!-- Page Load Progress -->
              <ng-progress
              [positionUsing]="'marginLeft'"
              [direction]="'leftToRightIncreased'"
              [color]="'#ffffff'"
              [trickleSpeed]="500"
              [thick]="true"
              [ease]="'easeInSine'"></ng-progress>

            <!-- Flash Messaging -->

            <flash-messages></flash-messages>
            <!-- Router Outlet -->
            <router-outlet></router-outlet>

            <!-- JavaScript Dependencies
            ################################################# -->

            <!-- Login -->
            <script type="text/javascript" src="../assets/js/scripts.js"></script>
            <script type="text/javascript" src="../assets/js/login/index.js"></script>
            <script type="text/javascript" src="../assets/js/lang-select.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/mdb.min.js"></script>

            <!-- Required by everything below -->
            <script type="text/javascript" src="../assets/js/common.js"></script>
            <script type="text/javascript" src="../assets/js/utils.js"></script>
            <script type="text/javascript" src="../assets/js/index.js"></script>
            <script type="text/javascript" src="../assets/js/nav-bar.js"></script>
            <script type="text/javascript" src="../assets/js/banner.js"></script>

            <!-- Dashboard -->
            <script type="text/javascript" src="../assets/js/dashboard/index.js"></script>
            <script type="text/javascript" src="../assets/js/dashboard/calendar.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/moment.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/moment-timezone-with-data-2012-2022.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/clndr.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/jquery.touchSwipe.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/addtocalendar.js"></script>


            <!-- Job Record Hire -->
            <script type="text/javascript" src="../assets/js/job-record/index.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/moment.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/moment-timezone-with-data-2012-2022.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/clndr.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/rangeslider.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/dataTables.fixedColumns.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/dataTables.colReorder.js"></script>
            <script type="text/javascript" src="../assets/js/popups.js"></script>
            <script type="text/javascript" src="../assets/js/accelerationTables.js"></script>


            <!-- List Name/List -->
            <script type="text/javascript" src="../assets/js/lists/index.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/moment.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/moment-timezone-with-data-2012-2022.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/clndr.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/dataTables.fixedColumns.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/dataTables.colReorder.js"></script>
            <script type="text/javascript" src="../assets/js/lists/list-controls.js"></script>
            <script type="text/javascript" src="../assets/js/popups.js"></script>
            <script type="text/javascript" src="../assets/js/accelerationTables.js"></script>


            <!-- Required by everything above -->
            <script type="text/javascript" src="../assets/js/vendor/mdb.min.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/perfect-scrollbar.jquery.js"></script>
            <script type="text/javascript" src="../assets/js/vendor/slick.min.js"></script>


          </body>
