body {
  padding: 0px;
}
a, a:hover, a:visited {
  color: #97BFBF;
  font-size: 24;
}
a:hover {
  text-decoration: underline;
}
hr {
  background: red;
  border-color: red;
}
.accel-logo {
  margin: 0px 0 0px 0;
  max-width: 250px;
 max-height: 30px;
}
